.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.newClass li a{
	color: #fff !important;
}
.col-6 ul,.col-6 h6{
 color: #fff !important; 
}
  .newClass li a{
    color: #fff !important;
  }
  .col-md-3 h6,.fa{
    color: #fff !important;
  }
  .navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.footer{
  overflow: hidden;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}



* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
    background-color: #d3d3d3;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox; /* IE 10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE 10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}

/* Style the buttons */
.btn {
    border: none;
    outline:inherit;
    padding: 10px 16px;
    background-color:#1ABC9C;
    cursor: pointer;
    font-size: 18px;
}

.btn:hover, .active {
    background-color: #ccc;
}

.pagination a {
    color: black;
    float: middle;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #1ABC9C;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}