
/*navabar*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-menu
{
  color: white;
}

.newClass li a{
	color: #fff !important;
}
.col-6 ul,.col-6 h6{
 color: #fff !important; 
}

  .col-md-3 h6,.footericon{
    color: #fff !important;
  }
/* end navabar*/

/* body*/
body {    
background-color:#fff;
}
@media only screen and (max-width: 1200px) {
    body {
        background-color:#fff;
    }
}

/* end body*/
.footer
{
  background-color:#191919; 
  font-size: 13px;

}

.footer .row{
  padding-top: 10px;
}
/* Create two equal columns that sits next to each other */
.column {
    -ms-flex: 25%; /* IE 10 */
    flex: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
}



/*  botton pageination links*/
.pagination a {
    color: black;
    float: middle;
    padding: 6px 10px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination
{
  padding-left: 40%;
}

.pagination a.active {
    background-color: #1ABC9C;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #1ABC9C;}
/*  end of botton pageination links*/


.container {
  position: relative;
  width: 70%;
}


.imgsize img{
  height:150px; width:100%;
}


.imgdec img{
  width:800px; height: 400px;
}

.jumnodesc{
  padding-left: 30%;
}

.descimg{
  color:#1ABC9C; background-color: black;
}

.gridimg img{
  width:100%;
}